<% include partials/header %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>New Todo</h2>
		<form action="/todos" method="POST" id="new-todo-form">
			<div class="form-group">
				<input type="text" name="todo[text]" class="form-control" placeholder="What will you do?">
			</div>
			<button class="btn btn-primary">Create Todo</button>
		</form>
		<h2>To Dos</h2>
		<ul id="todo-list" class="list-group">
		<% todos.forEach(function(todo){ %>
			<li class="list-group-item">
				<!-- edit form -->
				<form action="/todos/<%=todo._id%>" method="POST" class="edit-todo-form">
					<div class="form-group input-group">
						<input type="text" value="<%= todo.text %>" name="todo[text]" class="form-control">
						<span class="input-group-btn"> <button class="btn btn-primary pull-right">Update Todo</button> </span>
					</div>
				</form><!-- /end edit-form-->
				<span class="todo-content">
					<%= todo.text %>
				</span>
				<div class="pull-right todo-buttons">
					<button href="/todos/<%=todo._id%>/edit" class="btn btn-sm btn-warning edit-button">Edit</button>
					<form style="display: inline" method="POST" action="/todos/<%=todo._id%>" class="delete-form">
						<button type="submit" class="btn btn-sm btn-danger">Delete</button>
					</form>
				</div>
				<div class="clearfix"></div>
			</li>
		<% }); %>
		</ul>
	</div>
</div>

<% include partials/footer %>


